:root {
    --moradito: #717BFF;  
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
}


/* PARTE DEL NAV */

.nav {
    background-color: var(--moradito);

    --img1: scale(1);
    --img2: scale(0);
}

.nav:has(.dropdown:target) {
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}


.nav-container {
    width: 96%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.nav-logo {
    width: 46px;
    height: 58px;
}

.nav-title {
    color: white;
    grid-area: title; 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-menu {
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav-menu-second {
    transform: var(--img2);
}

.nav-icon {
    width: 30px;
    display: block;
}

/* EL TEXTO DE LAS MATERIAS DISPONIBLES */
h2 {
    position: absolute;
    left: 3%;
    top:14%;
    color: var(--moradito);
}


/* SELECCION DE LAS MATERIAS */

.dropdown {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;

    overflow-y: auto;

    /* clip-path: var(--clip, inset(0 0 100% 100%)); */
    transition: clip-path .5s;
}

.dropdown::-webkit-scrollbar {
    width: 4px;
}

.dropdown::-webkit-scrollbar-thumb {
    background: var(--moradito);
    border-radius: 20px;
    box-shadow: inherit;
}

.dropdown-list {
    list-style: none;
}

.dropdown-link {
    color: black;
    padding: 1em .7em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown-list:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #EFF0FF;
}

.dropdown-check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown-arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: 0.2s transform;
}

.dropdown-content {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
}

.dropdown-sub {
    overflow: hidden;
    /* background-color: red;  */
}


.dropdown-span {
    font-weight: 600;
}

.dropdown-li {
    width: 85%;
    background-color:#FFC1C1;
    list-style: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-anchor {
    padding: 2em 0;
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-materias {
    position: absolute;
    width: 28%;
    max-width: 28%;
    height: 58%;
    left: 3%;
    top: 24%;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}




/* PARTE DE DEL BOTON GUARDAR */


.btn-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 450px;
}


.btn-registrar {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 30%;
    height: 60px;

    background: #FFFFFF;
    border: 3.5px solid var(--moradito);
    border-radius: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--moradito);
}

.btn-registrar:hover {
    background:  var(--moradito);
    color: white;
}