/* Modify the background color */
.navbar {
  background-color: #717bff;
}
/* Modify brand and text color */
.navbar-text,
.navbar-brand,
.navbar-link {
  color: #ffffff !important;
}

.img-user-profile {
  width: 49.43px;
  height: 45.67px;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #ffffff;
}

.background-body .line {
    position: center;
    width: 95%;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background: #717bff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}

.background-body h1,h3{
    text-align: left;
    margin-left: 30px;
    color: #717bff;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5PX 0PX;
    
}

.background-body h2{
    text-align: right;
    margin-left: 30px;
    color: #717bff;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 28px;    
}

.background-body h6{
    text-align: right;
    margin-left: 30px;
    color: #000000;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 28px;    
}

.icons-right i{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
    padding: 5px 28px;
    color: #717bff;
    
  }
